@import "tailwindcss";

@theme {
  /* Primary */
  --color-ovis-primary-50: #f5f3ff;
  --color-ovis-primary-100: #ede9fe;
  --color-ovis-primary-200: #ddd6fe;
  --color-ovis-primary-300: #c4b5fd;
  --color-ovis-primary-400: #a78bfa;
  --color-ovis-primary-500: #8b5cf6;
  --color-ovis-primary-600: #7c3aed;
  --color-ovis-primary-700: #6d28d9;
  --color-ovis-primary-800: #5b21b6;
  --color-ovis-primary-900: #4c1d95;
  --color-ovis-primary-950: #2e1065;

  /* Secondary */
  --color-ovis-secondary-50: #fff7ed;
  --color-ovis-secondary-100: #ffedd5;
  --color-ovis-secondary-200: #fed7aa;
  --color-ovis-secondary-300: #fdba74;
  --color-ovis-secondary-400: #fb923c;
  --color-ovis-secondary-500: #f97316;
  --color-ovis-secondary-600: #ea580c;
  --color-ovis-secondary-700: #c2410c;
  --color-ovis-secondary-800: #9a3412;
  --color-ovis-secondary-900: #7c2d12;
  --color-ovis-secondary-950: #431407;

  /* Success */
  --color-ovis-success-50: #ecfdf5;
  --color-ovis-success-100: #d1fae5;
  --color-ovis-success-200: #a7f3d0;
  --color-ovis-success-300: #6ee7b7;
  --color-ovis-success-400: #34d399;
  --color-ovis-success-500: #10b981;
  --color-ovis-success-600: #059669;
  --color-ovis-success-700: #047857;
  --color-ovis-success-800: #065f46;
  --color-ovis-success-900: #064e3b;
  --color-ovis-success-950: #022c22;

  /* Danger */
  --color-ovis-danger-50: #fff1f2;
  --color-ovis-danger-100: #ffe4e6;
  --color-ovis-danger-200: #fecdd3;
  --color-ovis-danger-300: #fda4af;
  --color-ovis-danger-400: #fb7185;
  --color-ovis-danger-500: #f43f5e;
  --color-ovis-danger-600: #e11d48;
  --color-ovis-danger-700: #be123c;
  --color-ovis-danger-800: #9f1239;
  --color-ovis-danger-900: #881337;
  --color-ovis-danger-950: #6b0f29;

  /* Warning */
  --color-ovis-warning-50: #fdf4ff;
  --color-ovis-warning-100: #fae8ff;
  --color-ovis-warning-200: #f5d0fe;
  --color-ovis-warning-300: #f0abfc;
  --color-ovis-warning-400: #e879f9;
  --color-ovis-warning-500: #d946ef;
  --color-ovis-warning-600: #c026d3;
  --color-ovis-warning-700: #a21caf;
  --color-ovis-warning-800: #86198f;
  --color-ovis-warning-900: #701a75;
  --color-ovis-warning-950: #4a044e;

  /* Neutral */
  --color-ovis-neutral-50: #f9fafb;
  --color-ovis-neutral-100: #f3f4f6;
  --color-ovis-neutral-200: #e5e7eb;
  --color-ovis-neutral-300: #d1d5db;
  --color-ovis-neutral-400: #9ca3af;
  --color-ovis-neutral-500: #6b7280;
  --color-ovis-neutral-600: #4b5563;
  --color-ovis-neutral-700: #374151;
  --color-ovis-neutral-800: #1f2937;
  --color-ovis-neutral-900: #111827;
  --color-ovis-neutral-950: #030712;

  /* --- SYSTEM PALETTE (REACTIVE) --- */
  --color-app-bg: var(--app-bg);
  --color-app-text: var(--app-text);
  --color-app-text-muted: var(--app-text-muted);
  --color-app-border: var(--app-border);
  --color-app-surface: var(--app-surface);
}

@layer base {
  :root {
    color-scheme: dark;
    /* Main Layout */
    --app-bg: var(--color-ovis-neutral-950);
    --app-text: var(--color-ovis-neutral-50);
    --app-text-muted: var(--color-ovis-neutral-400);
    --app-border: var(--color-ovis-neutral-800);
    --app-surface: var(--color-ovis-neutral-900);
  }

  html,
  body {
    @apply transition-colors duration-300 ease-in-out;
    background-color: var(--app-bg);
    color: var(--app-text);
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none !important;
  }
}

/* --- COMPONENTES --- */

/* Buttons */
.btn-primary {
  /* prettier-ignore */
  @apply bg-ovis-primary-500 border-ovis-primary-500 hover:bg-ovis-primary-700 active:border-ovis-primary-600 active:bg-ovis-primary-600;
}

.btn-secondary {
  @apply bg-ovis-secondary-400 border-ovis-secondary-400 hover:bg-ovis-secondary-500 active:border-ovis-secondary-400 active:bg-ovis-secondary-400;
}

.btn-success {
  @apply bg-ovis-success-500 border-ovis-success-500 hover:bg-ovis-success-700 active:border-ovis-success-500 active:bg-ovis-success-500;
}

.btn-danger {
  @apply bg-ovis-danger-500 border-ovis-danger-500 hover:bg-ovis-danger-700 active:border-ovis-danger-500 active:bg-ovis-danger-500;
}

.btn-warning {
  @apply bg-ovis-warning-500 border-ovis-warning-500 hover:bg-ovis-warning-700 active:border-ovis-warning-500 active:bg-ovis-warning-500;
}

.btn-outline {
  @apply bg-transparent border-2 text-app-text hover:bg-transparent hover:border-ovis-neutral-600 active:border-ovis-neutral-600 active:bg-ovis-neutral-600/20;
  border-color: var(--app-border);
}

/* Gradients */
.ovis-gradient-h {
  background: linear-gradient(to top,
      var(--color-ovis-primary-500),
      var(--color-ovis-accent-500));
  @apply bg-clip-text font-bold tracking-tight text-transparent text-2xl saturate-150 hover:saturate-200 transition-all duration-400;
}

.ovis-gradient-w {
  background: linear-gradient(to right,
      var(--color-ovis-primary-500),
      var(--color-ovis-accent-500));
  @apply bg-clip-text font-bold tracking-tight text-transparent text-2xl saturate-150 hover:saturate-200 transition-all duration-400;
}

/* Nav & Layout */
.bottom-nav {
  @apply h-full w-full min-w-20 flex-1 flex items-center justify-center border-t px-4 transition-all duration-200;
  background-color: var(--app-bg);
  border-color: var(--app-border);
}

.bottom-nav:hover {
  background-color: var(--app-surface);
}

/* Form Fields */
.text-field-invalid {
  @apply border-ovis-danger-500 text-ovis-danger-500 outline-ovis-danger-500;
}

.text-field-valid {
  @apply border-ovis-success-500 text-ovis-success-500 outline-ovis-success-500;
}

.password-button svg {
  color: var(--app-text-muted);
  @apply transition-all duration-200;
}

.password-button:hover svg {
  color: var(--app-text);
}

.icon-base {
  @apply size-5 flex items-center justify-center;
}