# Application
PORT=3001
NODE_ENV=development

# Database (Prisma)
DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"

# Better Auth Configuration
BETTER_AUTH_SECRET=
BETTER_AUTH_TRUSTED_ORIGINS=
BETTER_AUTH_URL=http://localhost:3001
