# ====== Application =========
PORT=3001
NODE_ENV=development

# ====== Database ==========
DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"

# ====== Better Auth ==========
BETTER_AUTH_SECRET=
BETTER_AUTH_TRUSTED_ORIGINS=
BETTER_AUTH_URL=http://localhost:3001

# ====== Redis (Optional) ==========
REDIS_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_USER=
# REDIS_PASSWORD=
