@import "tailwindcss";

:root {
  background-color: #2a2947;
  --font-sans: "Inter", Arial, sans-serif;
  --font-principal: "Montserrat", sans-serif;
}


h1 {
  @apply text-6xl font-bold tracking-tight text-gray-50;
}
h2 {
  @apply text-5xl font-semibold text-gray-100;
}
h3 {
  @apply text-4xl font-medium text-gray-200;
}
h4 {
  @apply text-3xl font-medium text-gray-200;
}
h5 {
  @apply text-2xl font-medium text-gray-300;
}
h6 {
  @apply text-xl font-normal text-gray-400;
}

a,
label {
  @apply text-gray-300;
}

/* btn normal */

.btn-primary {
  @apply px-0 py-1 rounded-lg text-blue-200 text-sm font-semibold 
  border  border-indigo-500 bg-gradient-to-t from-indigo-600
  hover:bg-indigo-600/5 hover:text-indigo-100 hover:font-semibold
  active:bg-indigo-600/40 active:text-gray-100 active:font-semibold active:scale-[0.98]
  transition-all duration-200 ease-out;
  min-width: 100px;
}

.btn-secondary {
  @apply px-5 py-1 rounded-lg text-gray-100 text-sm font-semibold
  border  border-gray-500 bg-gradient-to-t from-gray-600
  hover:bg-gray-600/5 hover:text-gray-100 hover:font-semibold
  active:bg-gray-500/50 active:text-gray-100 active:font-semibold active:scale-[0.98]
  transition-all duration-200 ease-out;
}

.btn-success {
  @apply px-5 py-1 rounded-lg text-emerald-200 text-sm font-semibold
  border  border-emerald-500 bg-gradient-to-t from-emerald-600
  hover:bg-emerald-600/5 hover:text-gray-100 hover:font-semibold
  active:bg-emerald-500/40 active:text-gray-100 active:font-semibold active:scale-[0.98]
  transition-all duration-200 ease-out;
}

.btn-danger {
  @apply px-5 py-1 rounded-lg text-rose-200 text-sm font-semibold
  border  border-red-500 bg-gradient-to-t from-red-600
  hover:bg-red-600/5 hover:text-gray-100 hover:font-semibold
  active:bg-red-500/40 active:text-gray-100 active:font-semibold active:scale-[0.98]
  transition-all duration-200 ease-out;
}

.btn-warning {
  @apply px-5 py-1 rounded-lg text-amber-200 text-sm font-semibold
    border  border-yellow-500 bg-gradient-to-t from-yellow-600
  hover:bg-yellow-600/5 hover:text-gray-100/85 hover:font-semibold
  active:bg-yellow-500/50 active:text-gray-100 active:font-semibold active:scale-[0.98]
  transition-all duration-200 ease-out;
}

/* =========== btn outline ========== */
.btn-primary-outline {
  @apply px-5 py-1 rounded-lg text-blue-300 text-sm font-semibold
  border border-indigo-500 bg-indigo-600/10
  hover:bg-indigo-600/5 hover:text-indigo-100/85 hover:font-semibold
  active:bg-indigo-500/40 active:text-gray-100 active:font-semibold active:scale-[0.98]
  transition-all duration-200 ease-out;
}

.btn-secondary-outline {
  @apply px-5 py-1 rounded-lg text-gray-100 text-sm font-semibold
  border border-gray-500 bg-gray-600/20
  hover:bg-gray-600/10 hover:text-gray-100/85 hover:font-semibold
  active:bg-gray-500/50 active:text-gray-100 active:font-semibold active:scale-[0.98]
  transition-all duration-200 ease-out;
}

.btn-success-outline {
  @apply px-5 py-1 rounded-lg text-emerald-200 text-sm font-semibold
  border border-emerald-500 bg-emerald-600/10
  hover:bg-emerald-600/5 hover:text-gray-100/85 hover:font-semibold
  active:bg-emerald-500/40 active:text-gray-100 active:font-semibold active:scale-[0.98]
  transition-all duration-200 ease-out;
}

.btn-danger-outline {
  @apply px-5 py-1 rounded-lg text-rose-200 text-sm font-semibold
  border border-red-500 bg-red-600/10
  hover:bg-red-600/5 hover:text-gray-100/85 hover:font-semibold
  active:bg-red-500/40 active:text-gray-100 active:font-semibold active:scale-[0.98]
  transition-all duration-200 ease-out;
}

.btn-warning-outline {
  @apply px-5 py-1 rounded-lg text-amber-200 text-sm font-semibold
  border border-yellow-300 bg-yellow-600/10
  hover:bg-yellow-600/5 hover:text-gray-100/85 hover:font-semibold
  active:bg-yellow-500/50 active:text-gray-100 active:font-semibold active:scale-[0.98]
  transition-all duration-200 ease-out;
}

/* hypertext */
a {
  @apply active:scale-[0.98] transition-all duration-200 ease-out;
}
/* Badges */

.badge-primary {
  @apply px-2 py-1 rounded-4xl text-indigo-200 font-medium text-sm
  border border-indigo-500 bg-indigo-600/10;
}

.badge-success {
  @apply px-2 py-1 rounded-4xl text-emerald-200 font-medium text-sm
  border border-emerald-500 bg-emerald-600/10;
}

.badge-warning {
  @apply px-2 py-1 rounded-4xl text-amber-200 font-medium text-sm
  border border-amber-500 bg-amber-600/10;
}

.badge-danger {
  @apply px-2 py-1 rounded-4xl text-red-200 font-medium text-sm
  border border-rose-500 bg-rose-600/10;
}

/* text fields */

.text-field {
  @apply w-full border-2 rounded-md py-2 px-3 m-1 text-white
  border-indigo-300/40
  disabled:border-blue-200 disabled:bg-blue-50 disabled:text-blue-500 disabled:shadow-none
  focus:border-indigo-500 focus:outline focus:outline-indigo-600
  invalid:border-pink-500 invalid:text-pink-600  focus:invalid:border-pink-500 focus:invalid:outline-pink-500;
  margin: 0;
}

.text-field-valid {
  @apply valid:border-emerald-500 valid:text-emerald-400  focus:valid:border-emerald-500 focus:valid:outline-emerald-500;
}

.password-button {
  @apply bg-indigo-100/10 border-l-2 rounded-l-none border-2 rounded-md border-indigo-300/40 w-[50px]
    flex items-center justify-center
    hover:bg-indigo-100/20;
}

.password-button svg {
  @apply text-indigo-100/70 size-5 group-hover:text-indigo-200/90 group-active:scale-[0.90]
    transition-all duration-200 ease-out;
}

/* Select option */
.select {
  @apply w-full border-2 rounded-md py-2 px-3 m-1 text-white
  border-indigo-300/40
  disabled:border-blue-200 disabled:bg-blue-50 disabled:text-blue-500 disabled:shadow-none
  focus:border-indigo-500 focus:outline focus:outline-indigo-600;
  margin: 0;
}

.option {
  @apply bg-gray-950/88 text-indigo-200
    focus:bg-rose-500;
}

/* card */

.card-base,
.bg-navigator {
  @apply rounded-xl p-4
  border border-fuchsia-300/10
  bg-gray-900/40
  backdrop-blur-xl;
}

/* Modal */
.modal-backdrop {
  @apply fixed inset-0 bg-gray-950/40 transition-opacity data-closed:opacity-0 
  data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in backdrop-blur-xs;
}

.modal-dialog-panel {
  @apply relative transform overflow-hidden rounded-lg bg-gray-800 text-left shadow-xl outline -outline-offset-1
   outline-white/10 transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 
   data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8 sm:w-full sm:max-w-lg 
   data-closed:sm:translate-y-0 data-closed:sm:scale-95;
}

/* tablas */
.table-header {
  @apply bg-gray-900 px-5 text-indigo-200 text-lg py-2 text-left pl-8
  border-b border-transparent;
}

.table-row {
  @apply hover:border-l-2 hover:border-indigo-500 hover:text-indigo-400;
}

.table-row td {
  @apply bg-gray-800 border-b px-3 py-2 pl-8 text-gray-500 border-fuchsia-300/10 dark:text-gray-400;
}

.table-row p {
  @apply hover:text-indigo-400;
}
